@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Montserrat', sans-serif;

}

.f-f-m {
  font-family: 'Montserrat', sans-serif;

}
@media (max-width:768px) {
  #canvas{
    width: 300px;
    
  }
}
@media (min-width:768px) {
  #canvas{
    width: 600px;

  }
}